/**Todo el documento**/
*{
	font-family:Candara; 
}

/**footer**/
footer{
	font-family: Courier New;
	background-color: #00570A ;
	color:#FFFFFF;
	margin:20px; 

}

#pie{
	margin:10px;
	border: solid 1px;
	width: 200px;
	height: 100px;

}
.pief{
	margin:10px;
	width: 150px;
	height: 100px;
	float: right;

	}

/**Titulos**/
header{
	font-family: Courier New;
	background-color: #003D00 ;
	color:#FFFFFF;
	text-align: center;
	margin:2%;
	font-size: 22px;

}
.cabesa{
	height: 110px;
}
h2{
	font-family: Courier New;
}

.titulos{
	text-align: center;
}
/**Menu*/
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
}

nav{
  	width:100%;
	background-color: #000000;
}          

nav li{
    display:inline-block;
  	width:220px;
    height:30px;
    padding:10px;
    background-color:#000000;
    text-align:center;
    color:#ffffff;
    position:relative;
    margin-left: 15px;
}
            
nav li:hover{
    background-color:#fff;
    color:#000;
}
            
nav li>ul{
    display:none;
}

nav li:hover>ul{
    display:block;
    position:absolute;

}
/*
nav{
	float:left;
	display: block;
	font-size: 25px;
	color:#FFFFFF;
	background-color: #00E1FF;
	width: 100%;
	margin-right:2%;
	margin-left: 2%;
}

li{
	float:left;
	margin-right: 40px;
	list-style: none;
	padding: 5px;
}
*/

/**Contenedor**/
main{
	background-color: #C7FFC7 ; 
	margin-right:10%;
	margin-left: 10%;

}
p{
	padding: 2%;
	font-size: 20px;

}
a:hover{
	color: #000000;
}
#enlace{
	font-size: 3em;
	margin-left: 30%;
}
.arriba{
	width: 150px;
	height: 150px;
	margin-left: 40%;
}
#lista{
	font-size: 20px;
	margin: 40px;
}

/*FOTOS*/


#logo{
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 5px;
}
#logo2{
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 5px;

}
.fotoPa{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#fotoA{
	float: left;
	margin-right: 10px;
	margin-left: 15px;
	height: 250px;
}
#fotoB{
	float: right;
	margin-left: 10px;
	margin-right:15px;

}

#legal{
	display: block;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 10%;
}

/**PAGINA RECETAS**/
.ft_rec{
	width: 200px;
	height: 150px;
	margin-left: 20px;
}
.logA{
	margin-top: 5px;
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 15px;
}
#recetas{
	float: left;
	margin-left: 20px;
}
#sec_rec{
	margin-top: 10px;
}
/*RECETAS*/
.Faceite{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

/*FORMULARIO*/
#formulario{
	float: left;
	margin-right: 10px;
	font-size:20px;
}
