/**Todo el documento**/
*{
	font-family:Candara; 
}

/**footer**/
footer{
	font-family: Courier New;
	background-color: #00570A ;
	color:#FFFFFF;
}

/**Titulos**/
header{
	font-family: Courier New;
	background-color: #00570A ;
	color:#FFFFFF;
	text-align: center;
	margin:2%;
}
.cabesa{
	height: 110px;
}
h2{
	font-family: Courier New;
}

.titulos{
	text-align: center;
}
/**Menu**/
nav{
	width: 100%;
	display: inline-block;
	float: left;
	font-size: 25px;
	border: groove 1px;
	text-align: center;
	padding-bottom: 20px;
	background-color: #FFFFFF;

}
li{
	float:left;
	list-style: none;
	margin-right: 50px;
}
/*
nav{
	float:left;
	display: block;
	font-size: 25px;
	color:#FFFFFF;
	background-color: #00E1FF;
	width: 100%;
	margin-right:2%;
	margin-left: 2%;
}

li{
	float:left;
	margin-right: 40px;
	list-style: none;
	padding: 5px;
}
*/
a:link{
  	color:#C52121;
}
a:visited{
  	color:#C52192;
}
a:hover {
	background-color: #dddddd;
  	color:#000000;

}

/**Contenedor**/
main{
	background-color: #EEEEEE ; 
	margin-right:5%;
	margin-left: 5%;

}

#primera{
	padding-top:100px; 
}

p{
	padding: 2.5%;
}
#logo{
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 5px;
}
#logo2{
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 5px;

}
.fotoPa{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#fotoA{
	float: left;
	margin-right: 10px;
	margin-left: 15px;
	height: 250px;
}
#fotoB{
	float: right;
	margin-left: 10px;
	margin-right:15px;

}



/**PAGINA RECETAS**/
.ft_rec{
	width: 300px;
	height: 250px;
	margin-left: 20px;
}
#logA{
	margin-top: 5px;
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 15px;
}
#recetas{
	float: left;
	margin-left: 20px;
}
#sec_rec{
	margin-top: 10px;
}
